/* Variable overrides */

:root {
	/* Fonts */
	--font-sans-serif: 'Heebo', sans-serif;
	--font-system: var(--font-sans-serif);
	--font-size: 18px;

	--color-home: #fe9790;
	--color-about: #fbc718;
	--color-bam: #0fcc73;
	--color-borrow: #ff683a;
	--color-donate: #78e1d9;
	--color-vision: #;
	--color-workshop: #;
	--color-hire: #;
	--color-involved: #a6d874;
	--color-team: #d8a7ce;
	--color-story: #b2adcc;
	--color-tfl: #ceb779;

	--color-primary: var(--color-home);
/*
	--color-white: white;
	--color-navy: #001f3f;
	--color-blue: #0074d9;
	--color-aqua: #7fdbff;
	--color-teal: #39cccc;
	--color-olive: #3d9970;
	--color-green: #2ecc40;
	--color-lime: #01ff70;
	--color-yellow: #ffdc00;
	--color-orange: #ff851b;
	--color-red: #ff4136;
	--color-maroon: #85144b;
	--color-fuchsia: #f012be;
	--color-purple: #b10dc9;
	--color-black: #111;
	--color-gray: #aaa;
	--color-silver: #ddd;
*/

	--component-border-radius: 0;
}
