/* Variable overrides */

:root {
	/* Fonts */
	--font-sans-serif: 'Heebo', sans-serif;
	--font-system: var(--font-sans-serif);
	--font-size: 18px;
	--font-weight: 300;
	--font-weight-light: 100;

	--color-home: #fe9790;
	--color-about: #fbc718;
	--color-bam: #0fcc73;
	--color-borrow: #ff683a;
	--color-donate: #78e1d9;
	--color-vision: #;
	--color-workshop: #;
	--color-hire: #;
	--color-involved: #a6d874;
	--color-team: #d8a7ce;
	--color-story: #b2adcc;
	--color-tfl: #ceb779;

	--color-primary: var(--color-home);
	--color-primary-largetext-wcagaa: #fe5e52;
	--color-primary-text-wcagaa: #e91101;

	--link-color: var(--color-primary-text-wcagaa);
	--headings-color: var(--color-primary-largetext-wcagaa);

	--component-border-radius: 0;
	--rail-width: 100px;
	--rail-width-mobile: 250px;
}

.page {
  /* headings on pages should scale with their surroundings */
  --headings-font-size-h1: 2.5em;
  --headings-font-size-h2: 2em;
  --headings-font-size-h3: 1.75em;
  --headings-font-size-h4: 1.5em;
  --headings-font-size-h5: 1.25em;
  --headings-font-size-h6: 1em;
}
