html, body {
	overflow-x: hidden;
}

.background-primary {
	background-color: var(--color-primary);
}

.page .site-content {
	font-size: 1.55rem;
	min-height: 100vh;
}
.page h2,
.page h3,
.page h4,
.page h5 {
	margin: var(--headings-margin-bottom) 0;
}
.page .wp-block-column h3 {
	font-size: 1.1em;
	font-weight: 500;
	color: inherit;
}
.page .wp-block-columns.align-items-flex-end {
	align-items: flex-end;
}
.page .wp-block-column .two-columns img {
	max-width: calc(200% + 32px + 32px);
}
.page .wp-block-column .wp-block-media-text {
	align-items: self-end;
}
.page .wp-block-column .wp-block-media-text p {
	margin: 0;
	line-height: 1.3;
}

.site {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.site-header {
	width: var(--rail-width-mobile);
	padding: .5em;
	position: fixed;
	left: calc( -1 * var(--rail-width-mobile) );
	z-index: 9;
	transition: all .33s;
	background-color: var(--color-primary);
	display: grid;
}
body.is-menu-active .site-header {
	left: 0;
	overflow: scroll;
	max-height: 100%;
}
body.is-menu-active .site-footer,
body.is-menu-active .site-content {
	left: var(--rail-width-mobile);
}
.menu-social-channels-container,
.menu-members-container,
.site-description {
	font-size: 80%;
	font-weight: bold;
}
.main-navigation a {
	color: var(--color-black);
}
.site-header .menu-toggle {
	position: fixed;
	top: 0;
	left: 0;
	transition: .33s left;
	color: var(--color-black);
	background-color: var(--color-primary);
	text-rendering: geometricPrecision;
	height: auto;
	width: 4em;
	white-space: normal;
	text-align: center;
}
.site-header .menu-toggle:before {
	content: "";
	display: inline-block;
	background-image: repeating-linear-gradient(black, black 1px, transparent 1px, transparent .4em);
	font-size: 1.33em;
	width: 1.3em;
	height: 1em;
}
body.is-menu-active .site-header .menu-toggle:before {
	content: "╳";
	background-image: none;
	font-size: 1.2rem;
}
body:not(.is-menu-active) .menu-toggle:hover {
	color: var(--color-white);
}
.site-header .menu-toggle:hover {
	background-color: var(--color-primary);
	text-decoration: none;
}
.site-header .menu-toggle:hover:before {
	background-image: repeating-linear-gradient(var(--color-white), var(--color-white) 1px, transparent 1px, transparent .4em);
}
.main-navigation ul.menu {
	padding: 0;
}
.main-navigation .menu li {
	list-style: none;
}
.main-navigation .menu-join-us-container {
	font-size: 1.2em;
	white-space: nowrap;
}
.main-navigation .menu-outreach-container {
	white-space: nowrap;
}
.main-navigation h1,
.main-navigation h2,
.main-navigation h3 {
	font-size: inherit;
	text-shadow: 0 0 .01em;
	margin: 0;
}
.site-title {
	margin: 0;
}
.site-title .custom-logo {
	max-width: 125px;
	margin: .5rem 0;
}
.site-footer,
.site-content {
	position: relative;
	left: 0;
	transition: .33s left;
	max-width: calc(100% - 20px);
	width: var(--breakpoint-lg);
	margin: 0 auto;
}

.search-form {
	white-space: nowrap;
}
.search-form .search-field {
	transition: 0.33s width;
	width: 10em;
	margin-right: -1.75em;
	padding-right: 1.75em;
	font-size: inherit;
	z-index: -5;
}
.search-form .search-field:not(:focus) {
	width: 1.75em;
	opacity: 0;
	transition: .33s width, 0.1s opacity;
	transition-delay: 0s, .23s;
	z-index: 5;
}
.search-form .search-submit {
	border: none;
	vertical-align: middle;
	background: none;
	padding: 0 .5em 0 0;
}

.entry-header {
	text-align: center;
	padding: .5em 0;
}
.front .entry-header .entry-title,
.home .entry-header .entry-title,
.entry-header .search-form {
	display: none;
}

.site-footer {
	background-color: var(--color-primary);
	margin-top: 2rem;
	font-size: .6em;
	font-weight: bolder;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-footer .menu {
	margin: 0;
	padding: .5em .75em;
}
.site-footer .menu-item {
	display: inline-block;
}
.site-footer .menu-item a {
	color: var(--color-black);
	display: inline-block;
	padding: .75em;
}
.site-footer .site-info {
	padding: 1.25em 1.5em;
}

@media only screen and (max-width: 699px) {
	.site-header .widget-first.widget_media_image {
		/* hide  header logo when using mobile menu */
		display: none;
	}
	.is-menu-active .site-header .menu-toggle {
		left: calc( var(--rail-width-mobile) - 4em );
		background: white;
	}
}

@media only screen and (min-width: 700px) {
	.site-header {
		position: fixed;
		width: var(--rail-width);
		left: 0;
		top: 0;
		padding: 0;
		margin-bottom: -100vh;
		height: 100vh;
		overflow: hidden;
		grid-template-rows: 33.3% 33.3% 33.3%;
		grid-template-columns: 100px;
		grid-auto-flow: column;
		justify-items: center;
	}
	.site-header .menu-toggle {
		position: relative;
		top: auto;
		left: auto;
		align-self: start;
		height: auto;
		font-size: .8em;
		line-height: inherit;
		margin-top: .5em;
	}
	.site-header .menu-toggle:hover {
		color: var(--color-white);
	}
	/** /
	.site-header .menu-toggle:before {
		background-image: repeating-linear-gradient(black, black 1px, transparent 1px, transparent 10px);
		width: 36px;
		height: 21px;
	}
	.site-header .menu-toggle:hover:before {
		background-image: repeating-linear-gradient(var(--color-white), var(--color-white) 1px, transparent 1px, transparent 10px);
	} /**/
	.main-navigation {
		width: 100%;
		padding: 2em;
		background-color: var(--color-primary);
		grid-row-start: 1;
		grid-row-end: last-line;
	}
	.main-navigation .widget-area {
		display: grid;
		/* TODO: adjust columns to create a center channel for the logo */
		grid-template-columns: 47% 43% 10%;
		align-items: center;
		grid-row-gap: 20px;
	}
	.main-navigation ul.menu {
		margin: 0;
	}
	.main-navigation .widget-first img {
		width: 105px;
	}
	.main-navigation .column-first:not(.widget-first) {
		width: 100%;
	}
	.main-navigation .column-second {
		width: 100%;
	}
	.main-navigation .widget_search {
		grid-column-start: 3;
		grid-row: 1 / 4;
		align-self: start;
	}

	body.is-menu-active {
		overflow: hidden;
	}
	body.is-menu-active .main-navigation {
		overflow: scroll;
	}
	body.is-menu-active .site-header {
		width: 100%;
		background-color: white;
		grid-template-columns: 100px auto;
	}
	body.is-menu-active .site-header .menu-toggle {
		background-color: white;
	}
	body.is-menu-active .site-header .menu-toggle:hover {
		color: var(--color-primary);
	}
	body.is-menu-active .site-footer,
	body .site-footer,
	body.is-menu-active .site-content,
	body .site-content {
		left: 0;
		margin-left: calc( var(--rail-width) + 3% );
		margin-right: 3%;
	}
	.site-description {
		margin-bottom: 50%;
		align-self: end;
		transform: rotate(270deg);
		width: 100%;
		width: max-content;
	}
	.site-title {
		align-self: center;
		transform: rotate(270deg);
	}
	.main-navigation .column-first:not(.widget-first) {
		max-width: 340px;
	}
	.main-navigation .column-second {
		max-width: 255px;
	}
	.entry-header {
		display: grid;
		grid-template-columns: 40% 20% 40%;
		justify-content: center;
		align-items: center;
		justify-items: center;
	}
	.entry-header .entry-title {
		font-size: var(--headings-font-size-h4);
		justify-self: start;
		grid-column-start: 1;
	}
	.entry-header img {
		grid-column-start: 2;
	}
	.entry-header .search-form {
		display: block;
		grid-column-start: 3;
		justify-self: end;
	}
}

@media only screen and (min-width: 768px) {
	.main-navigation .widget-area {
		grid-template-columns: 51% 39% 10%;
		grid-row-gap: 40px;
	}
	.main-navigation .column-first:not(.widget-first) {
		max-width: 430px;
	}
	.main-navigation .column-second {
		max-width: 315px;
	}
	.main-navigation .menu-join-us-container {
		font-size: 1.6em;
	}
	.main-navigation .menu-outreach-container {
		font-size: 1.1em;
	}
}

@media only screen and (min-width: 1024px) {
	.main-navigation .widget-area {
		grid-template-columns: 54% 37% 9%;
		grid-row-gap: 40px;
		justify-items: end;
	}
	.main-navigation .column-first:not(.widget-first) {
		max-width: 430px;
	}
	.main-navigation .column-second {
		max-width: 295px;
	}
	.main-navigation .menu-join-us-container {
		font-size: 2.2em;
	}
	.main-navigation .menu-outreach-container {
		font-size: 1.4em;
	}
	.site-footer {
		font-size: .8em;
	}
}
